li{
    text-decoration: none;
}
.artikelnaam{
    color: seagreen;
    font-size: 3rem;
}
.artikeluitleg{
    font-size: 2.5rem;
}
section{
    align-content: center;
}
.menu{
    padding-left: 2rem;
    padding-right: 2rem;
}
a{
    font-size: 2rem;
}
h1{
    font-size: 4rem;
}